<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NBA All-Star Predictor</title>
  </head>

  <!-- Top navigation bar -->
  <div class="topnav">
    <ul>
      <li id="logo"><img src="" alt="LOGO"></li>
      <li><a href="/">Predictor</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/fulltable">All Players</a></li>
      <li><a href="/standings">Standings</a></li>
      <li><a href="#about" class="active">About</a></li>
    </ul>
  </div>
  <body>
    <h1 class="title"><u>About / Contact</u></h1>

    <p class="descript">This is an independent project created and run by 
        <a href="https://github.com/chenry22" target="_blank">@chenry22</a>. I am currently 
        a college student studying computer science and decided to create 
        this as a side project to help me learn some basics about web dev 
        and get first-hand experience with a data science project. I don't 
        really have any future plans for this site beyond basic functionality, 
        though I will probably update it if I think of something cool to add. 
        I know it looks pretty ugly I may or may not change that... yeah.
    </p>

    <br><br>

    <p class="descript">If you are looking to contact me my email is <a href="mailto:calebhenry7095@gmail.com">
        calebhenry7095@gmail.com</a>. If you're looking for other projects of mine 
        you can find them <a href="https://linktr.ee/chenry22" target="_blank">here</a>. Thanks for taking the time to read 
        this and interact with something I made!
    </p>

  </body>
</html>