<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NBA All-Star Predictor</title>
  </head>

  <!-- Top navigation bar -->
  <div class="topnav">
    <ul>
      <li id="logo"><img src="" alt="LOGO"></li>
      <li><a href="/">Predictor</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="#fulltable" class="active">All Players</a></li>
      <li><a href="/standings">Standings</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>

  <body>
    <h1 class="title">Full Player Table</h1>

    <p class="descript">This the full leaderboard tracking all players' All-Star likelihood
        based on their current projected statistics. Similarly to the main search feature, the games
        played/started statistics are projected to be the maximum possible based on current games missed.

        <br><br>

        In an analysis of past NBA All-Stars and which statistics were relevant to All-Star
        likelihood, a strong correlation was found between a player's past All-Star appearances
        and the probability that player would be an All-Star again. While testing the prediction
        algorithm, this increased the accuracy of the model by a significant amount, so it is
        considered in all leaderboard evaluations.
        
        <br><br>
        
        That being said, this program also runs calculations considering an 'unbiased' probability, where
        previous All-Star appearances are not considered. You can see these rankings by toggling the
        checkbox below.
        
        <br><br>
    </p>

    <p class="descript" style="font-size: 13;"><i>(Last updated {{ timelog }})</i></p>

    <br><br>

    <!-- Toggle Previous All-Star Bias -->
    <form>
        <div id="bias-toggle">
            <input type="checkbox" onclick="toggleFullTableBias()" id="bias-checkbox"/>
            <label for="bias-checkbox">Toggle Previous All-Star Bias</label>
        </div>
    </form>

    <br>

    <!-- Filter by team -->
    <div id="team-filter-div">
        <div class="atl off" onclick="addFilterByTeam('atl')">ATL</div>
        <div class="bos off" onclick="addFilterByTeam('bos')">BOS</div>
        <div class="brk off" onclick="addFilterByTeam('brk')">BRK</div>
        <div class="chi off" onclick="addFilterByTeam('chi')">CHI</div>
        <div class="cho off" onclick="addFilterByTeam('cho')">CHO</div>
        <div class="cle off" onclick="addFilterByTeam('cle')">CLE</div>
        <div class="dal off" onclick="addFilterByTeam('dal')">DAL</div>
        <div class="den off" onclick="addFilterByTeam('den')">DEN</div>
        <div class="det off" onclick="addFilterByTeam('det')">DET</div>
        <div class="gsw off" onclick="addFilterByTeam('gsw')">GSW</div>
        <div class="hou off" onclick="addFilterByTeam('hou')">HOU</div>
        <div class="ind off" onclick="addFilterByTeam('ind')">IND</div>
        <div class="lac off" onclick="addFilterByTeam('lac')">LAC</div>
        <div class="lal off" onclick="addFilterByTeam('lal')">LAL</div>
        <div class="mem off" onclick="addFilterByTeam('mem')">MEM</div>
        <div class="mia off" onclick="addFilterByTeam('mia')">MIA</div>
        <div class="mil off" onclick="addFilterByTeam('mil')">MIL</div>
        <div class="min off" onclick="addFilterByTeam('min')">MIN</div>
        <div class="nop off" onclick="addFilterByTeam('nop')">NOP</div>
        <div class="nyk off" onclick="addFilterByTeam('nyk')">NYK</div>
        <div class="okc off" onclick="addFilterByTeam('okc')">OKC</div>
        <div class="orl off" onclick="addFilterByTeam('orl')">ORL</div>
        <div class="phi off" onclick="addFilterByTeam('phi')">PHI</div>
        <div class="pho off" onclick="addFilterByTeam('pho')">PHO</div>
        <div class="por off" onclick="addFilterByTeam('por')">POR</div>
        <div class="sac off" onclick="addFilterByTeam('sac')">SAC</div>
        <div class="sas off" onclick="addFilterByTeam('sas')">SAS</div>
        <div class="tor off" onclick="addFilterByTeam('tor')">TOR</div>
        <div class="uta off" onclick="addFilterByTeam('uta')">UTA</div>
        <div class="was off" onclick="addFilterByTeam('was')">WAS</div>
    </div>

    <br>

    <!-- Leaderboard -->
    <div id="leaderboard">
        <h2 class="table-title"><u>All NBA Players</u></h2>
        <table id="full-leaderboard">
            <tr id="table-head">
                <th>Rank</th>
                <th>Daily</th>
                <th>Name</th>
                <th>Team</th>
                <th>Pos.</th>
                <th>Age</th>
                <th>Prev. All-Star</th>
                <th>% All-Star</th>
                <th>Unbiased %</th>
            </tr>
            
            <tbody>

            </tbody>
        </table>

        <table id="unbiased-leaderboard" class="hidden">
            <tr id="table-head">
                <th>Rank</th>
                <th>Daily</th>
                <th>Name</th>
                <th>Team</th>
                <th>Pos.</th>
                <th>Age</th>
                <th>Prev. All-Star</th>
                <th>Unbiased %</th>
                <th>Bias Change</th>
            </tr>
            
            <tbody>

            </tbody>
        </table>
    </div>

    <br><br><br>

    <!-- Data loader -->
    <script type="text/javascript">
        loadAllPlayerData();
    </script>

    <div id="bottom"></div>
  </body>
</html>