<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NBA All-Star Predictor</title>
  </head>

  <!-- Top navigation bar -->
  <div class="topnav">
    <ul>
      <li id="logo"><img src="" alt="LOGO"></li>
      <li><a href="#index" class="active">Predictor</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>
      <li><a href="/fulltable">All Players</a></li>
      <li><a href="/standings">Standings</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>

  <body>
    <h1 class="title">NBA All-Star Predictor</h1>

    <p class="descript">This is an NBA All-Star predictor powered by a logistic regression model.</p>
    <p class="descript">Using NBA player data over the past decade plus and training a 
      python program to recognize the expected statistics of an all-star player, we now have 
      a prediction model that can look at any player's stats and output a class label.</p>
    <p class="descript"> Specifically, this system uses a logistic regression model to use learned feature weights 
      to compute the probability of a datapoint belonging to one or the other class.</p>
    <p class="descript">After training this model with a large dataset, it was evaluated 
      to have an average accuracy of about 95%.</p>
    <br>
    <div>
      <p class="descript">Enter values to get a prediction or search for specific player data using the search feature!</p>
      <p class="descript" style="font-size: 13;"><i>(Last updated {{ timelog }})</i></p>
      <br>
      <p class="descript" style="font-size: 13;"><i><b>Note: Games Played and Games Started are calculated based on 
      MAXIMUM possible for a player based on the current amount of games they have missed.</b></i></p>
      
      <div style="text-align: center;">
        <div class="search-container">
          <form onsubmit="return searchGetData()">
            <input id="search_input" type="text" placeholder="Search.." name="search" 
              oninput="searchUpdate()" data-player-index="-1">
            <button type="submit">Enter</button>
          </form>
          <div id="search-dropdown"></div>
        </div>
      </div>

      <!-- Form input section (actual stats) -->
      <div id="form_div">
        <form class="center" id="inputform" onsubmit="return false;">
          <div id="form_container">
            <div>
              <label for="gplayed">Games Played:</label>
              <input type="number" name="gplayed" min="1" max="82" step="1" value="1">
            </div>
            <div>
              <label for="gstarted">Games Started:</label>
              <input type="number" name="gstarted" min="0" max="82" step="1" value="0">
            </div>
            <div>
              <label for="mpg">Minutes per Game:</label>
              <input type="number" name="mpg" min="1" step="0.01" value="1">
            </div>
            <div>
              <label for="fgpg">Field Goals per Game:</label>
              <input type="number" name="fgpg" step="0.01" value="0">
            </div>
            <div>
              <label for="fgapg">Field Goal Attempts per Game:</label>
              <input type="number" name="fgapg" step="0.01" value="0">
            </div>
            <div>
              <label for="3ppg">3-pters per Game:</label>
              <input type="number" name="3ppg" step="0.01" value="0">
            </div>
            <div>
              <label for="3papg">3-pt Attempts per Game:</label>
              <input type="number" name="3papg" step="0.01" value="0">
            </div>
            <div>
              <label for="ftpg">Free Throws per Game:</label>
              <input type="number" name="ftpg" step="0.01" value="0">
            </div>
            <div>
              <label for="ftapg">Free Throw Attempts per Game:   </label>
              <input type="number" name="ftapg" step="0.01" value="0">
            </div>
            <div>
              <label for="orbpg">Offensive Rebounds per Game:   </label>
              <input type="number" name="orbpg" step="0.01" value="0">
            </div>  
            <div>
              <label for="drpg">Defensive Rebounds per Game:   </label>
              <input type="number" name="drpg" step="0.01" value="0">
            </div>
            <div>
              <label for="apg">Assists per Game:   </label>
              <input type="number" name="apg" step="0.01" value="0">
            </div>
            <div>
              <label for="spg">Steals per Game:    </label>
              <input type="number" name="spg" step="0.01" value="0">
            </div>
            <div>
              <label for="bpg">Blocks per Game:   </label>
              <input type="number" name="bpg" step="0.01" value="0">
            </div>
            <div>
              <label for="tovpg">Turnovers per Game:   </label>
              <input type="number" name="tovpg" step="0.01" value="0">
            </div>
            <div>
              <label for="allstarnum">Previous All-Stars:   </label>
              <input type="number" name="allstarnum" step="1" value="0">
            </div>
            <div>
              <label for="winpct">Team Win-Loss Ratio:   </label>
              <input type="number" name="winpct" step="0.01" value="0">
            </div>
          </div>
        </form>
      </div>

      <!-- Prediction requests button -->
      <div id="button-center">
        <button onclick="submitData()">Submit</button>
      </div>
    </div>

    <br>

    <!-- Prediction results section -->
    <div id="returns">
      <h3>Likelihood of All-Star:</h3>
      <p id="return_pct">0%</p>
    </div>
    <div id="returns-bg">
      <h3>Model Decision: </h3>
      <p id="return_dec">None</p>
    </div>

    <br><br><br>

    <div id="table_div">
      <table class="center" id="show_vals_1">
        <tr>
          <th>GP</th>
          <th>GS</th>
          <th>MPG</th>
          <th>FG</th>
          <th>FGA</th>
          <th>3P</th>
          <th>3PA</th>
        </tr>
        <tr>
          <td id="tgp">None</td>
          <td id="tgs">None</td>
          <td id="tmpg">None</td>
          <td id="tfgpg">None</td>
          <td id="tfgapg">None</td>
          <td id="t3ppg">None</td>
          <td id="t3papg">None</td>
        </tr>
      </table><br>
      <table class="center" id="show_vals_2">
        <tr>
          <th>2P</th>
          <th>2PA</th>
          <th>FT</th>
          <th>FTA</th>
          <th>ORB</th>
          <th>DRB</th>
          <th>TRB</th>
          <th>AST</th>
        </tr>
        <tr>
          <td id="t2ppg">None</td>
          <td id="t2papg">None</td>
          <td id="tftpg">None</td>
          <td id="tftapg">None</td>
          <td id="torbpg">None</td>
          <td id="tdrbpg">None</td>
          <td id="ttrbpg">None</td>
          <td id="tapg">None</td>
        </tr>
      </table><br>
      <table class="center" id="show_vals_3">
        <tr>
          <th>STL</th>
          <th>BLK</th>
          <th>PTS</th>
          <th>TOV</th>
          <th>Previous All-Star</th>
          <th>Win %</th>
          <th>PTS/FGA</th>
        </tr>
        <tr>
          <td id="tspg">None</td>
          <td id="tbpg">None</td>
          <td id="tppg">None</td>
          <td id="ttovpg">None</td>
          <td id="tprevallstar">None</td>
          <td id="twinpct">None</td>
          <td id="tpts_fga">None</td>
        </tr>
      </table><br>
    </div>
    <br>

    <div id="bottom"></div>
  </body>
</html>
