<link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NBA All-Star Predictor</title>
  </head>

  <!-- Top navigation bar -->
  <div class="topnav">
    <ul>
      <li id="logo"><img src="{{ url_for('static', filename='ball.png') }}" alt="LOGO"></li>
      <li><a href="/">Predictor</a></li>
      <li><a href="#leaderboard" class="active">Leaderboard</a></li>
      <li><a href="/fulltable">All Players</a></li>
      <li><a href="/standings">Standings</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>

  <body>
    <h1 class="title">Daily Leaderboard</h1>

    <p class="descript">This page is a daily updated leaderboard tracking the most likely NBA All-Stars
        based on their current projected statistics. Similarly to the main search feature, the games
        played/started statistics are projected to be the maximum possible based on current games missed.
    </p>
    <p class="descript" style="font-size: 13;"><i>(Last updated {{ timelog }})</i></p>

    <br>

    <!-- East Leaderboard -->
    <div id="leaderboard">
        <h2 class="table-title"><u>East Leaders</u></h2>
        <table id="east">
            <tr id="table-head">
                <th>Rank</th>
                <th>Daily</th>
                <th>Name</th>
                <th>Team</th>
                <th>Pos.</th>
                <th>Age</th>
                <th>Prev. All-Star</th>
                <th>% All-Star</th>
            </tr>
            
            <!-- Rank 1 -->
            <tr class="player-east" onclick="toggleData('east', 0)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 2 -->
            <tr class="player-east" onclick="toggleData('east', 1)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 3 -->
            <tr class="player-east" onclick="toggleData('east', 2)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 4 -->
            <tr class="player-east" onclick="toggleData('east', 3)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 5 -->
            <tr class="player-east" onclick="toggleData('east', 4)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 6 -->
            <tr class="player-east" onclick="toggleData('east', 5)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 7 -->
            <tr class="player-east" onclick="toggleData('east', 6)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 8 -->
            <tr class="player-east" onclick="toggleData('east', 7)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 9 -->
            <tr class="player-east" onclick="toggleData('east', 8)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 10 -->
            <tr class="player-east" onclick="toggleData('east', 9)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 11 -->
            <tr class="player-east" onclick="toggleData('east', 10)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 12 -->
            <tr class="player-east" onclick="toggleData('east', 11)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 13 -->
            <tr class="player-east" onclick="toggleData('east', 12)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 14 -->
            <tr class="player-east" onclick="toggleData('east', 13)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 15 -->
            <tr class="player-east" onclick="toggleData('east', 14)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-east hidden">
                <td colspan="8"></td>
            </tr>
        </table>
    </div>

    <br>

    <!-- Projected Lineup -->
    <div id="lineup">
        <h3 class="table-title"><i><u>Projected Lineup</i></u></h3>
        <table>
            <tr class="lineup-east">
                <th>Starters</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="lineup-east">
                <th>Bench</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="lineup-east">
                <th>Wildcard</th>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div style="height:150px"></div>
    
    <!-- West Leaderboard -->
    <div id="leaderboard">
        <h2 class="table-title"><u>West Leaders</u></h2>
        <table id="west">
            <tr id="table-head">
                <th>Rank</th>
                <th>Daily</th>
                <th>Name</th>
                <th>Team</th>
                <th>Pos.</th>
                <th>Age</th>
                <th>Prev. All-Star</th>
                <th>% All-Star</th>
            </tr>
            
            <!-- Rank 1 -->
            <tr class="player-west" onclick="toggleData('west', 0)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 2 -->
            <tr class="player-west" onclick="toggleData('west', 1)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 3 -->
            <tr class="player-west" onclick="toggleData('west', 2)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 4 -->
            <tr class="player-west" onclick="toggleData('west', 3)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 5 -->
            <tr class="player-west" onclick="toggleData('west', 4)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 6 -->
            <tr class="player-west" onclick="toggleData('west', 5)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 7 -->
            <tr class="player-west" onclick="toggleData('west', 6)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 8 -->
            <tr class="player-west" onclick="toggleData('west', 7)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 9 -->
            <tr class="player-west" onclick="toggleData('west', 8)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 10 -->
            <tr class="player-west" onclick="toggleData('west', 9)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 11 -->
            <tr class="player-west" onclick="toggleData('west', 10)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 12 -->
            <tr class="player-west" onclick="toggleData('west', 11)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 13 -->
            <tr class="player-west" onclick="toggleData('west', 12)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 14 -->
            <tr class="player-west" onclick="toggleData('west', 13)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>

            <!-- Rank 15 -->
            <tr class="player-west" onclick="toggleData('west', 14)">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="data-west hidden">
                <td colspan="8"></td>
            </tr>
        </table>
    </div>

    <br>

    <!-- Projected Lineup -->
    <div id="lineup">
        <h3 class="table-title"><i><u>Projected Lineup</i></u></h3>
        <table>
            <tr class="lineup-west">
                <th>Starters</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="lineup-west">
                <th>Bench</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr class="lineup-west">
                <th>Wildcard</th>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <br><br><br>

    <!-- Data loader -->
    <script type="text/javascript">
        loadLeaderboardData();
    </script>

    <div id="bottom"></div>
  </body>
</html>